# --------------------
# OS files
# --------------------
.DS_Store

# --------------------
# Node.js
# --------------------
node_modules/
.env

# --------------------
# Python
# --------------------
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# --------------------
# Logs
# --------------------
*.log
